<h1>Listing technicians</h1>
<div class="table-responsive">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Gcm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technicians.each do |technician| %>
      <tr>
        <td><%= technician.name %></td>
        <td><%= technician.email %></td>
        <td><%= technician.password %></td>
        <td><%= technician.gcm_id %></td>
        <td><%= link_to 'Show', technician %></td>
        <td><%= link_to 'Edit', edit_technician_path(technician) %></td>
        <td><%= link_to 'Destroy', technician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Technician', new_technician_path %>
