<p id="notice"><%= notice %></p>
<div class="panel panel-default">
    <div class="panel-heading">
        <p>
          <strong>Name:</strong>
          <%= @technician.name %>
        </p>
    </div><!-- panel-heading -->
    <div class="panel-body">
        <p>
          <strong>Email:</strong>
          <%= @technician.email %>
        </p>

        <p>
          <strong>Password:</strong>
          <%= @technician.password %>
        </p>

        <p>
          <strong>Gcm:</strong>
          <%= @technician.gcm_id %>
        </p>
        <% @location = @technician.location %>
        <%= render 'layouts/show_map.html.erb' %>
    </div><!-- panel-body -->
    <%= render 'ratings/show_ratings.html.erb' %>
    <% @orders = @technician.orders %>
    <%= render 'orders/list_orders.html.erb' %>
</div><!-- panel -->
<%= link_to 'Edit', edit_technician_path(@technician) %> |
<%= link_to 'Back', :back %>
