<%= link_to "All customers", customers_path, class: 'btn btn-primary btn-lg' %>
<%= link_to "All technicians", technicians_path, class: 'btn btn-success btn-lg' %>
<%= link_to "All locations", locations_path, class: 'btn btn-warning btn-lg' %>
<h1> API Methods </h1>
<h3>Customer API</h3>
<%= render 'home/customer_api_doc.html.erb' %>
<h3>Technician API</h3>
<%= render 'home/technician_api_doc.html.erb' %>
<h3>Technician Ratings API <span class="label label-default">New</span></h3>
<%= render 'home/ratings_api_doc.html.erb' %>
<h3>Location API</h3>
<%= render 'home/location_api_doc.html.erb' %>
