<h1>Listing customers</h1>
<div class="table-responsive">
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Device model</th>
        <th>Access Token</th>
        <th>GMC ID</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.device_model %></td>
          <td><%= customer.access_token %></td>
          <td><%= customer.gcm_id %></td>
          <% if customer.location != nil %>
          <td>Lat: <%= customer.location.lat %><br>Long: <%= customer.location.long %></td>
          <% else %>
          <td>NIL</td>
          <% end %>
          <td><%= link_to 'Show', customer %></td>
          <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Customer', new_customer_path %>
