<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Device model:</strong>
  <%= @customer.device_model %>
</p>

<p>
  <strong>GCM ID:</strong>
  <%= @customer.gcm_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @customer.password %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
